<form method="post" action="../reflection">
  <h2>Penambahan Renungan Gereja</h2>
    <div class="mb-3">
      <label for="judul" class="form-label">Judul</label>
      <input type="text" class="form-control" id="judul" name="judul" required/>
    </div>
    <div class="mb-3">
      <label for="tanggal" class="form-label">Tanggal</label>
      <input type="date" class="form-control" id="tanggal" name="tanggal" required/>
    </div>
    <div class="mb-3">
      <label for="ayat" class="form-label">Ayat</label>
      <input type="text" class="form-control" id="ayat" name="ayat" required/>
    </div>
    <div class="mb-3">
        <label for="isian" class="form-label">Isian</label>
        <textarea class="form-control" id="isian" name = "isian" rows="3"></textarea>
      </div>
    <button type="submit" class="btn btn-primary">Tambah Data Renungan Harian</button>
  </form>